body {
    background-image: url(../img/fondo2.jpg)  ;
    background-repeat: no-repeat;background-size:cover;
    background-color: rgb(0, 0, 0);

}



#loggin{

    background-color: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 700px;
    color: #fff;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#barra{
    color: #fff;
}

#encabezado     {
    background-color: rgb(227, 231, 230, 0.7);
    width: auto;
    height: 100px;
    margin-bottom: 4px;


}
.navbar{
    background-color: rgba(241, 240, 240, 0.7);
}

#dipp{
    text-align: center;
   
}




input[type="text"], input[type="password"]{
    background-color: #333333;
    width: 100%;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton{
    width: 100%;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    margin: 5px 0 5px 0;

    
}

.boton-rojo{
    background: rgb(118, 118, 206);
}

.boton-verde{
    background: green;
}
   







 
    
