body {
    background-image: url(../img/fondo4.jpg)  ;
    background-repeat: no-repeat;background-size:cover;
    background-color: rgb(0, 0, 0);

}

#titulo{
    background-color: rgb(0, 0, 0, 0.5)
}
#tabla-enc{
     width: 800px;
}

.his{
    color: black;
    background-color:rgba(255, 255, 255, 0.7);
}

#loggin{

    background-color: rgba(255, 255, 255, 0.3);
    width: 950px;
    height: 750px;
    color: #fff;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#myTab{
    margin-top:25px; 
}

#loggin2{
    background-color: rgba(255, 255, 255, 0.7);
    width: 850px;
    height: 180px;
    color: #fff;
    padding-left: 30px;
    padding-top: 5px;
    border-radius: 10px;
    
    margin-top: 10px;

}

#navegacion{
    margin-top: 70px;
    background-color:rgba(253, 53, 53, 0.4);
    border-radius: 10px;
    width: 850px;
    height: 300px;
    color: black;
  
 
}
#home{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}



#loggin3{
    
    margin-top: 100px;
    background-color: red;
    width: 50px;
    height: 50px;
    color: #fff;
    height: 40px;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 50px;
    border-radius: 10px;
  
    
    margin-top: 25px;

}


 #historial{
    color: #333333;
   
}

#barra{
    color: #fff;
}

#encabezado     {
    background-color: rgb(255, 255, 255, 0.7);
    width: auto;
    height: 100px;
    margin-bottom: 4px;


}
.navbar{
    background-color: rgba(255, 255, 255, 0.7);
}

#dipp{
    text-align: center;
   
}




input[type="text"], input[type="password"]{
    background-color: #333333;
    width: 100%;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton{
    width: 100%;
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

.boton-rojo{
    background: rgb(118, 118, 206);
}

.boton-verde{
    background: green;
}